<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>The Roost &mdash; A Community Of Independent Creatives</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Reflex by Designova - Responsive HTML5 template">
<meta name="author" content="Designova">

<!-- Standard Favicon--> 
<link rel="shortcut icon" href="images/favicon/favicon.ico">

<!-- Standard iPhone Touch Icon--> 
<link rel="apple-touch-icon" sizes="57x57" href="images/touchicons/apple-touch-icon-57-precomposed" />
<!-- Retina iPhone Touch Icon--> 
<link rel="apple-touch-icon" sizes="114x114" href="assets/touchicons/apple-touch-icon-114-precomposed" />
<!-- Standard iPad Touch Icon--> 
<link rel="apple-touch-icon" sizes="72x72" href="assets/touchicons/apple-touch-icon-72-precomposed" />
<!-- Retina iPad Touch Icon--> 
<link rel="apple-touch-icon" sizes="144x144" href="assets/touchicons/apple-touch-icon-144-precomposed" />

<!-- Bootstrap CSS Files -->
<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- Custom Fonts Setup via Font-face CSS3 -->
<link href="fonts/fonts.css" rel="stylesheet">
<!-- CSS files for plugins -->
<link href="stylesheets/hiding-nav.css" rel="stylesheet" type="text/css" media="screen" />
<link href="stylesheets/menu-transition.css" rel="stylesheet" type="text/css" media="screen" />
<link href="stylesheets/parallax-layers.css" rel="stylesheet">
<link href="stylesheets/jquery.tweet.css" rel="stylesheet"/>
<link href="stylesheets/home-06.css" rel="stylesheet"/>

<link href="stylesheets/slimmenu.css" rel="stylesheet"/>
<!-- Main Template Styles -->
<link href="stylesheets/main.css" rel="stylesheet">
<!-- Main Template Responsive Styles -->
<link href="stylesheets/main-responsive.css" rel="stylesheet">
<!-- Main Template Retina Optimizaton Rules -->
<link href="stylesheets/main-retina.css" rel="stylesheet">
<!-- LESS stylesheet for managing color presets -->
<link rel="stylesheet/less" type="text/css" href="less/color.less">
<!-- LESS JS engine-->
<script src="less/less-1.7.3.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900%7COpen+Sans:400,300,700,800%7CMontserrat:400,700%7COswald:400,700' rel='stylesheet' type='text/css'>

<script src="javascripts/modernizr.custom.js"></script>

<link href="roost/style.css" rel="stylesheet">

 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="bootstrap/js/html5shiv.js"></script>
      <script src="bootstrap/js/respond.min.js"></script>
    <![endif]-->


<script type="text/template" id="members-template">
<% members.forEach(function(member, i) { %>
    <% if (i % 2 == 0) { %>
    <div class="row">
    <% } %>
          <% if (i % 4 / 2 < 1) { %>
          <article class="col-md-3 no-gutter team-thumb silver-bg text-center">
             <img alt="" title="" class="img-responsive" src="/roost/members/<%= member.name.replace(' ', '-').toLowerCase() %>.jpg"/>
          </article>
          <% } %>
          <article class="col-md-3 team-info white-bg text-center">
             <% if (i % 4 / 2 < 1) { %>
             <div class="triangle-arrow triangle-arrow-right"></div>
             <% } else { %>
             <div class="triangle-arrow triangle-arrow-left"></div>
             <% } %>
            <div class="valign">
              <h3 class="sub-heading dark"><%= member.name %></h3>
              <h6><span><%= member.title %></span></h6>
              <% if (member.url) { %>
              <a class="color" href="<%= member.url %>"><%= member.url %></a>
              <% } %>
            </div>
          </article>
          <% if (i % 4 /2 >= 1) { %>
          <article class="col-md-3 no-gutter team-thumb silver-bg text-center">
             <img alt="" title="" class="img-responsive" src="/roost/members/<%= member.name.replace(' ', '-').toLowerCase() %>.jpg"/>
          </article>
          <% } %>
    <% if (i % 2 == 1) { %>
    </div>
    <% } %>
<% }); %>
</script>

</head>


<body class="post">
<section class="mast-wrap">



<!--
<div class="mobile-nav hidden-lg">
            <ul class="slimmenu">

              <li>
                  <a class="sub-collapser" href="">home</a>
                  <ul>
                    <li><a href="index07.html" >split scroll</a></li>
                    <li><a href="index01.html" >splash</a></li>
                    <li><a href="index08.html" >masonry</a></li>
                    <li><a href="index02.html" >ticker</a></li>
                    <li><a href="index03.html" >agency</a></li>
                    <li><a href="index06.html" >dual</a></li>
                    <li><a href="index04.html" >vimeo</a></li>
                    <li><a href="index05.html" >youtube</a></li>
                  </ul>
              </li>  

              <li><a href="showcase.html">showcase</a></li>

              <li>
                  <a class="sub-collapser" href="">works</a>
                  <ul>
                    <li><a href="works-masonry.html" >masonry</a></li>
                    <li><a href="works-grid.html" >grid</a></li>
                    <li><a href="single-project.html" >project</a></li>
                  </ul>
              </li>  

              <li>
                  <a class="sub-collapser" href="">news</a>
                  <ul>
                    <li><a href="news-wall.html" >news wall</a></li>
                    <li><a href="news-post.html" >news-post</a></li>
                  </ul>
              </li> 

              <li>
                  <a class="sub-collapser" href="">agency</a>
                  <ul>
                    <li><a href="agency-about.html" >about</a></li>
                    <li><a href="agency-clients.html" >clients</a></li>
                    <li><a href="agency-awards.html" >awards</a></li>
                    <li><a href="agency-credits.html" >credits</a></li>
                  </ul>
              </li>  

              <li><a href="contact.html" >contact</a></li> 
            
            </ul>
</div>
-->


<div id="wrap">
  



  <!--
  <header class="main-nav visible-lg">

      <div class="row">

        <article class="col-md-6 fullheight black-bg text-center">
          <div class="valign">
            <ul class="main-nav-menu main-nav-menu-effect">

              <li class="trigger-sub-nav">
                  <a class="main-nav-link" href="#">home</a>
                  <div class="sub-nav">
                    <a href="index07.html" >split scroll</a>
                    <a href="index01.html" >splash</a>
                    <a href="index08.html" >masonry</a>
                    <a href="index02.html" >ticker</a>
                    <a href="index03.html" >agency</a>
                    <a href="index06.html" >dual</a>
                    <a href="index04.html" >vimeo</a>
                    <a href="index05.html" >youtube</a>
                  </div>
              </li>  

              <li><a class="main-nav-link" href="showcase.html">showcase</a></li>

              <li class="trigger-sub-nav">
                  <a class="main-nav-link" href="#">works</a>
                  <div class="sub-nav">
                    <a href="works-masonry.html" >masonry</a>
                    <a href="works-grid.html" >grid</a>
                    <a href="single-project.html" >project</a>
                  </div>
              </li>  

              <li class="trigger-sub-nav">
                  <a class="main-nav-link" href="#">news</a>
                  <div class="sub-nav">
                    <a href="news-wall.html" >news wall</a>
                    <a href="news-post.html" >news-post</a>
                  </div>
              </li> 

              <li class="trigger-sub-nav">
                  <a class="main-nav-link" href="#">agency</a>
                  <div class="sub-nav">
                    <a href="agency-about.html" >about</a>
                    <a href="agency-clients.html" >clients</a>
                    <a href="agency-awards.html" >awards</a>
                    <a href="agency-credits.html" >credits</a>
                  </div>
              </li>  

              <li><a class="main-nav-link" href="contact.html" >contact</a></li> 
            
            </ul>
            <ul class="social-wrap">
              <li><a href="#"><img alt="" title="" src="images/social/01.png"/></a></li>  
              <li><a href="#"><img alt="" title="" src="images/social/02.png"/></a></li>  
              <li><a href="#"><img alt="" title="" src="images/social/03.png"/></a></li>  
            </ul>
            <p class="credits">&copy; 2014 Reflex Inc.</p>
          </div>
        </article>


         <article class="col-md-6 fullheight nav-bg text-center">
          <div class="valign">
            <a href="index.html"><img alt="" title="" class="main-logo" src="images/logo.png"/></a>
          </div>
        </article>

      </div>
     
   
  </header>
  -->
  <!-- end header -->



<section class="top-header visible-lg">

  <div class="row">
          <article class="top-header-left col-md-6 white-bg text-center">
           <h3 class="color">The Roost</h3>
          </article>

          <article class="top-header-right col-md-6 color-bg text-center">
           <h3 class="white">A Community Of Independent Creatives</h3>
          </article>
  </div>

  <!--
  <div class="toggle-menu-wrap">
  
  <a id="toggle-menu" class="toggle-menu-hidden">
    <div>
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>
  </a>

</div>


  <div class="info-button">
    <a href="agency-credits.html"><img alt="" title="" src="images/info-button.png"/></a>
  </div>
-->

</section>




<div id="content">
    
<section class="container home-06-container text-center">

                <div class="row">
                      <article class="fullheight inner-pad col-md-6 color-bg text-center">
                        <div class="valign">
                            <a href="index.html">
                              <img alt="" title="" src="images/logo-dark.png" class="main-logo">
                            </a>
                        </div>
                      </article>
                      <article class="fullheight home-06-right-background inner-pad col-md-6 white-bg text-left">

                      <div class="valign">
                            <h2><span class="white-bg dark">A creative agency from Hungary. We excell on everything that invokes creativity.</span></h2>
                            <div class="trigger-button add-top-quarter">
                                <a class="btn btn-reflex btn-reflex-white" href="agency-about.html">Explore More</a>
                            </div>
                        </div>


                      </article>
                </div>
  
</section>

<section class="team-container">
</section>
 

<!-- not now
<section class="container color-bg text-center">
    <div class="row">
        <article class="col-md-12 team-job text-center pad-top-half pad-bottom-half">
            <h3 class="main-heading white">
                Want to view more members?
            </h3>
            <div class="trigger-button add-top-quarter">
                <a class="btn btn-reflex btn-reflex-white" href="agency-about.html">Yes, Please!</a>
            </div>

        </article>
    </div>
</section>
-->

<section class="container white-bg text-center">

  <div class="row">

          <article class="col-md-12 team-job text-center pad-top-half pad-bottom-half">
              <h2 class="roost-header our-rates">
                    __&nbsp; Our Rates
              </h2>
              <h3 class="main-heading grey">
              Whatever your creative space needs,<br>
              we have you covered
              </h3>
          </article>
    </div>

</section>

<section class="container grey-bg text-center" id="pricing-table">
    <div class="row pad-top pad-bottom">
        <div id="pricing-table-inner"></div>
        <br/>
                <div class="col-md-3 col-md-offset-3">
                        <div class="panel">
                                <div class="panel-heading text-center">
                                        <h3 class="gothic">Hotdesk</h3>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead gothic" style="font-size:20px">$80 per month</p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                A designated temporary work desk &amp; chair
                                        </li>
                                        <li class="list-group-item">
                                                BYO laptop/smart device equipment each day<br />
                                                Take your equipment home each day
                                        </li>
                                        <li class="list-group-item">
                                                9&ndash;5, Monday&ndash;Friday Access
                                        </li>
                                        <li class="list-group-item">
                                            Two month maximum
                                        </li>
                                </ul>
                                <div class="panel-footer">
                                    <a class="btn btn-reflex btn-reflex-dark white-bg" href="#join-us">Join Us</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-3">
                        <div class="panel">
                                <div class="panel-heading">
                                        <h3 class="gothic">Workspace</h3>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead gothic" style="font-size:20px">$140 per month</p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                            Your very own 2m x 1.5m workspace
                                        </li>
                                        <li class="list-group-item">
                                                Desk &amp; chair supplied or bring your own  
                                        </li>
                                        <li class="list-group-item">
                                                9&ndash;5, Monday&ndash;Friday Access<br/>
                                                After-Hours Access On Request
                                        </li>
                                        <li class="list-group-item">
                                            Two months or more
                                        </li>
                                </ul>
                                <div class="panel-footer">
                                    <a class="btn btn-reflex btn-reflex-dark white-bg" href="#join-us">Join Us</a>
                                </div>
                        </div>
                </div>
                <div class="col-md-12">
                    <a id="read-rules" class="color white-bg pad" href="#todo">Read our full Rules &amp; Regulations</a>
                </div>
    </div>

</section>

  <section class="about-container">
    <a href="" name="join-us"></a>

    <div class="row">
          <article id="join-us-img" class="col-md-4 fullheight about-content silver-bg text-center hidden-sm hidden-xs">
              <div id="join-us-inner"></div>
          </article>
          <article class="col-md-1  fullheight white-bg hidden-sm hidden-xs">
          </article>
          <article class="col-md-6 about-content fullheight white-bg">
            <div class="valign">
                <h2 class="roost-header">__&nbsp; Join Us</h2>
                
                <div id="contact-form-wrap" class="container">
                              <form action="http://formspree.io/jwpage@gmail.com" id="contactForm" enctype="multipart/form-data" method="post"> 
                                <article>
                                  <input required type="text" placeholder="Name" id="name" name="name" size="100" class="border-form">
                                </article>
                                <article>
                                   <input required type="text" placeholder="Email" id="email" name="email" size="30" class="border-form">
                                 </article>
                                 <article>
                                    <input required type="text" placeholder="Phone" id="phone" name="phone" class="border-form">
                                 </article>
                                 <article>
                                  <textarea required placeholder="Tell Us About Yourself" name="message" cols="40" rows="3" id="msg" class="border-form"></textarea>
                                </article>
                                 <article>
                                    <br/>
                                    <strong>I am interested in a:</strong>
                                    <div class="radio">
                                        <label>
                                            <input required value="Hotdesk membership" name="membership" type="radio"> Hotdesk membership
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input required value="Workspace membership" name="membership" type="radio"> Workspace membership
                                        </label>
                                    </div>
                                 </article>
                                 <article>

                                  <div class="btn-wrap  text-left">
                                    <button class="btn btn-reflex btn-reflex-dark" id="submit" type="submit">Send Message</button>
                                  </div>
                                </article>
                                 
                                 <input type="hidden" name="_subject" value="Roost Membership Enquiry">
                                 <input name="_gotcha" style="display:none" />

                                 <p class="alert alert-success success">Your message has been sent. Thank you!</p>
                                 <p class="alert alert-danger error">We could not send your message. Please try again later.</p>
                             </form>
                          </div>
                    </div>

            </div>
          </article>
                
    </div>

  </section>



  <section class="about-container">

    <div class="row">
          <article class="col-md-4 halfheight about-content silver-bg text-center">
            <div class="valign">
                <img src="roost/pin.png">
                <br><br>
                <h2 class="address">
                    <a href="https://www.google.com.au/maps/place/The+Roost+-+Creative/@-32.9268094,151.7805403,17z/data=!3m1!4b1!4m2!3m1!1s0x6b731464e5e6a031:0x54de0564292557fc">
                    Level 1, 152&ndash;160<br>
                    Hunter Street<br>
                    Newcastle, 2300
                    </a>
                </h2>
            </div>
          </article>
          <article class="col-md-8 about-content halfheight about-bg text-right hidden-sm hidden-xs" id="map">
          </article>
                
    </div>

  </section>


</div>
<!-- end content -->




<footer class="container master-footer">
  <div class="row">
          <article class="col-md-4 footer-column text-left white-bg">
              <h3 class="gothic">On Twitter</h3>
              <a data-tweet-limit="1" data-chrome="noheader nofooter noscrollbar noborders"  class="twitter-timeline" href="https://twitter.com/theroost" data-widget-id="644137200964124672">Tweets by @theroost</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </article>
          <article class="col-md-4 footer-column text-center color-bg">
            <div class="valign">
              <a href="index.html"><img alt="" title="" class="main-logo" src="roost/footer-rooster.svg" height="80" width="61" /></a>
              <br /><br />
              <p class="grey">Copyright &copy; The Roost Creative Pty Ltd</p>
            </div>
          </article>
          <article class="col-md-4 footer-column text-left white-bg">
              <h3 class="gothic">Contact Us</h3>
              <ul class="foot-links">
                <li><a href="https://twitter.com/theroost"><span>Twitter</span></a></li>
                <li><a href="https://medium.com/what-the-cluck"><span>Medium</span></a></li>
                <li><a href="https://www.facebook.com/The-Roost-Creative-165840163448967/timeline/"><span>Facebook</span></a></li>
                <li><a href="mailto:info@theroostcreative.com.au"><span>Email</span></a></li>
                <li><a href="tel:0249293007"><span>(02) 4929 3007</span></a></li>
              </ul>
          </article>
  </div>
</footer>




</div>
<!-- end wrap -->


</section>
<!-- end mast-wrap -->





<!-- Core JS Libraries -->
<script src="bootstrap/js/jquery.js" type="text/javascript"></script>
<script src="javascripts/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.js" ></script> 
<!-- JS Plugins -->
<script src="javascripts/device.min.js"></script>
<script src="javascripts/modernizr.js" type="text/javascript"></script>
<script src="javascripts/retina.js" type="text/javascript"></script>
<script src="javascripts/responsive-nav.js" type="text/javascript"></script>
<script src="javascripts/navi-slidedown.js" type="text/javascript"></script>
<script src="javascripts/equalheights.js" ></script> 
<script src="javascripts/jquery.parallax-1.1.3.js" ></script> 
<script src="javascripts/jquery.tweet.js"></script>
<script src="javascripts/jquery.slimmenu.min.js"></script>

<!-- JS Custom Codes --> 
<script src="javascripts/equalheights-init.js" ></script> 
<script src="javascripts/hiding-nav.js"></script> 
<script src="javascripts/parallax-init.js"></script> 
<script src="javascripts/main.js" ></script> 

<!-- Roosty -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeJ9721j4OcGKondJoHVug7VFgeg1ygx4&sensor=false"></script>
<script src="roost/members.js"></script>
<script src="roost/ejs.min.js"></script>
<script src="roost/main.js"></script>

</body>
</html>