/* Color: E30603 */

.address {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
h3.gothic { 
    font-family: Oswald;
    letter-spacing: initial;
    font-size: 2em;
}
.roost-header.our-rates {
    font-size: 4em;
}
.roost-header {
    font-family: Oswald;
    letter-spacing: initial;
    font-size: 3em;
    text-transform: uppercase; 
    padding-bottom: 1em;
    color: #E30603;
}
.mast-wrap {
    opacity: initial;
}

#contactForm input[type="radio"] {
    width: auto;
    margin: 0 1em 0 0;
    padding: 0;
    line-height: 25px !important;
    height: 25px !important;
}
#contactForm .radio {
    line-height: 25px !important;
    text-align: left;
    clear: both;
}

.success, .error {
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
}