/* GENERAL */
/* Color: E30603 */
.address {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
h3.gothic { 
    font-size: 2em;
}
.gothic {
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: initial;
    font-weight: normal;
}
.roost-header.our-rates {
    font-size: 4em;
}
.roost-header {
    font-family: Oswald;
    letter-spacing: initial;
    font-size: 3em;
    text-transform: uppercase; 
    padding-bottom: 1em;
    color: #E30603;
}
.mast-wrap {
    opacity: initial;
}

/* MEMBERS */
.team-info:hover {
    background: #FFF !important;
}
.team-info:hover .triangle-arrow-left {
    border-color:  transparent transparent transparent #FFF !important;
}
.team-info:hover .triangle-arrow-right {
    border-color:  transparent #FFF transparent transparent !important;
}

/* JOIN US */
#join-us-img {
    background: url(/roost/images/join-us.jpg);
    background-size: cover;
    position: relative;
}
#join-us-inner {
    background-color: #E30603;
    opacity: 0.7;
    height: 100%;
    position: absolute;
    top: -10vh;
    z-index: 100;
    left: 10vh;
    right: -10vh;
}

#contactForm input[type="radio"] {
    width: auto;
    margin: 0 1em 0 0;
    padding: 0;
    line-height: 25px !important;
    height: 25px !important;
}
#contactForm .radio {
    line-height: 25px !important;
    text-align: left;
    clear: both;
}

.success, .error {
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
}

/* PRICING-TABLE */
#pricing-table {
    background: url(/roost/images/our-rates.jpg);
    background-size: cover;
    position: relative;
}
#pricing-table-inner {
    position: absolute;
    width: 16.6667%;
    height: 100%;
    top: 0;
    right: 0;
    background: #E30603;
    opacity: 0.7;
}
#pricing-table .list-group-item {
    padding: 2em 0;
}
#pricing-table .panel {
    position: relative;
    border-radius: 0;
    border: 0.3em solid #CCC;
}
#pricing-table .panel-heading {
    padding-top: 3em;
}
#pricing-table .panel-body {
    border-bottom: 0.3em solid #CCC;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}
#pricing-table .panel-footer {
    margin-top: 1em;
    padding: 2em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#read-rules {
    margin-top: 1em;
    padding: 1em;
    display: inline-block;
}

/** MAP */
.pin {
    transition: all 0.2s;
}
.pin:hover {
    opacity: 0.4;
}