/* GENERAL */
/* Color: E30603 */
p	{color: #121212;
	font-family: "Raleway",Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:25px}
.fullheight {
    height: 100vh;
}
.address {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
h3.gothic {
    letter-spacing: 4px;
    font-weight: 200;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.gothic {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: initial;
    font-weight: normal;
    font-size: 64px;
    line-height: 50px;
    font-weight: bold
}
.gothic span {
	font-size: 40px;
    line-height: 47px;
    margin-right: 10px;
    position: relative;
    top: -7px;
}
.dark {
    color: #121212;
    font-size: 14px;
    line-height: 21px;
    margin-top: -5px;
    padding: 0 0 40px 0;
}
.roost-header.our-rates, .roost-header.our-members {
    font-size: 3em;
    padding-bottom: 1em;
    text-indent: -134px;
}
.roost-header.our-members {
	text-indent: -72px;
}
.roost-header span {
    font-size: 1em;
    font-weight: bold;
}
.roost-header {
    font-family: Oswald;
    letter-spacing: initial;
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 1em;
    color: #E30603;
    text-indent: -40px;
}
html, body, .mast-wrap {
    opacity: initial !important;
}

/* TOP BAR */
.top-header {
    z-index: 102;
}
.top-header-left {
    line-height: 70px;
    padding: 0.2em;
}
.top-header-left img {
    height: 50px;
}
.top-header-right {
    padding: 0.2em;
}
.top-header-right h3 {
    font-family: Oswald;
    letter-spacing: initial;
    font-size: 1.6em;
    line-height: 70px;
}

/* HERO */
.top-left {
    background-image: url(/2015/images/top-2.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.home-06-container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.home-06-container h1 {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 101;
    text-indent: -9999px;
    left: 8.7%;
    background: url(/2015/tagline.svg) no-repeat center center;
    background-size: contain;
}
.top-right {
    background-image: url(/2015/images/top-1.jpg);
    background-size: cover;
    background-position: center center;
}
.top-left-inner-md, .top-left-inner-sm {
    background-color: #E30603;
    opacity: 0.7;
    height: 125%;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
}
.top-left-inner-sm {
    height: 100%;
}


/* ABOUT */
.about-bg {
    background: url(/2015/images/about-bg.jpg);
    background-size: cover;
    background-position: bottom center;
}

/* MEMBERS */
.team-container .row {
    display: none;
}
.team-container .row:nth-of-type(2), .row:nth-of-type(1) {
    display: block;
}
.team-info h6 > span {
    display: inline-block;
}
.team-info:hover {
    background: #FFF !important;
}
.team-info:hover .triangle-arrow-left {
    border-color:  transparent transparent transparent #FFF !important;
}
.team-info:hover .triangle-arrow-right {
    border-color:  transparent #FFF transparent transparent !important;
}
blockquote {
	padding: 10px 20px;
    margin: 0 0 20px -70px;
    font-size: 35px;
    font-family: Raleway,sans-serif;
    color: #E30603;
    text-transform: uppercase;
    line-height: 1em;
}
/* JOIN US */
#join-us-img {
    background: url(/2015/images/join-us.jpg);
    background-size: cover;
    position: relative;
}
#join-us-inner {
    background-color: #E30603;
    opacity: 0.7;
    height: 65%;
    position: absolute;
    top: -10vh;
    z-index: 100;
    left: 0vh;
    right: -10vh;
}
#contactForm .roost-header {
	margin-left: 50px;
}
#contactForm input[type="radio"] {
    width: auto;
    margin: 0 1em 0 -20px;
    padding: 0;
    line-height: 25px !important;
    height: 25px !important;
}
#contactForm .radio {
    line-height: 25px !important;
    text-align: left;
    clear: both;
    margin-left:20px;
}

.success, .error {
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
}

/*PRICING TABLES*/

.pricing-head-01{
    background: url('../images/bg/01.jpg') 50% 0 no-repeat fixed;
}
.pricing-head h3{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 8px;
    line-height: 32px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 50px;
    text-transform: uppercase;
}
.pricing-head h2{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 8px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
}
.pricing-container .pricing-header.alt {
    background: none repeat scroll 0 0 #BAA37A;
}
.pricing-container .pricing-header {
    padding: 35px 0;
    border: solid 8px;
}
.pricing-container .pricing-header h2 {
    letter-spacing: 4px;
    font-weight: 200;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}
.pricing-container .pricing-header .pricing p {
    font-size: 64px;
    line-height: 71px;
    font-weight: 600;
}
.pricing-container .pricing-header .pricing p span {
    font-size: 40px;
    line-height: 47px;
    margin-right: 10px;
}
.pricing-container .pricing-header h4 {
    font-size: 14px;
    line-height: 21px;
    margin-top: -5px;
}
.pricing-container .pricing-features {
    padding: 35px 0;
    padding-top: 0;
    border: solid 8px;
    border-top: none;
}
.pricing-container .pricing-features .each h2 {
    font-size: 12px;
    line-height: 21px;
    padding: 25px;
    margin-bottom: 0;
    border-bottom: solid 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.pricing-container .pricing-features .each h2:last-child {
    margin-bottom: 30px;
}
.pricing-container .pricing-features .custom-pricing-btn-style {
    font-size: 12px !important;
    padding: 12px 40px !important;
}

/* PRICING-TABLE */
#pricing-table {
    background: url(/2015/images/our-rates.jpg);
    background-size: cover;
    position: relative;
}
#pricing-table-inner {
    position: absolute;
    width: 16.6667%;
    height: 100%;
    top: 0;
    right: 0;
    background: #E30603;
    opacity: 0.7;
}
#pricing-table .list-group-item {
    padding: 2em 0;
}
li.list-group-item.color {
    border-bottom: none;
}
#pricing-table .panel {
    position: relative;
    border-radius: 0;
    border: 0.3em solid #CCC;
}
#pricing-table .panel-heading {
    padding-top: 3em;
}
#pricing-table .panel-body {
    border-bottom: 0.3em solid #CCC;
    margin: 0;
    padding: 0;
}
#pricing-table .panel-footer {
    margin-top: 1em;
    padding: 2em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#read-rules {
    margin-top: 1em;
    padding: 1em;
    display: inline-block;
}

/** MAP */
.address a {
    color: inherit;
}
.address a:hover {
    color: #E30603;
}

/** CREDITS */
#credits-inner {
    text-align: center;
}
#credits-inner h1 {
    padding-top: 1em;
}
#credits-inner dt {
    margin-top: 1em;
}

.venobox .zoom-icon-wrap {
    position: absolute;
    background: url(/2015/zoom.png) center center no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.venobox:hover img {
    opacity: 0.5;
}
.venobox:hover .zoom-icon-wrap {
    opacity: 1;
}